---
# tasks file for tomcat

- name: docker run
  raw: apt update

- name: Ensure install tomcat9
  apt: name={{item}} state=present
  with_items:
    - docker.io
    - docker-compose
  notify:
    - restart docker

- name: Clone remote repository
  git:
        repo: https://github.com/Elferey/less12.git
        dest: /tmp/github
        clone: yes
        update: yes

- name: Copy awscli.sh
  template:
    src: awscli.sh
    dest: /tmp/awscli.sh
    mode: '0777'

- name: Run a script 
  command:
    cmd: /tmp/awscli.sh

- name: s3 download .war file
  raw: aws --endpoint-url=https://storage.yandexcloud.net \
       s3 cp s3://elferey/hello-1.0.war /tmp/github

- name: sleep 2 min
  raw: sleep 120s

- name: docker run
  raw: service docker start && cd /tmp/github && docker-compose up -d

