---
# tasks file for common

- name: Ensure install packages
  apt: name={{item}} state=installed
  with_items:
    - install_package_jdk
    - git
    - mvn_n_build
    - docker.io
    - docker-compose