---
- name: Java app building
  hosts: build
  become: yes

  roles:
    - install_package_jdk
    - git
    - mvn_n_build


- name: tomcat install
  hosts: deploy
  become: yes

  roles:
    - tomcat